<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/theme.css" type="text/css">
    <title>订单查看</title>
</head>


<body>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3">场馆预约</h1>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse"
                data-target="#navbar20">
            <p class="navbar-brand text-white mb-0">
                <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p>
        </button>
        <div class="collapse navbar-collapse" id="navbar20">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/index_super">首页管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/venue_super">场馆信息管理</a></li>
                <li class="nav-item"><a class="nav-link" href="#">订单信息</a></li>
            </ul>
            <p class="d-none d-md-block lead text-white mr-5 mb-0"><i class="fa d-inline fa-lg fa-stop-circle"></i>订单信息&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-1"><a class="nav-link" href="/exit">
                    <i class="fa fa-bitbucket fa-fw fa-lg">Exit</i>
                </a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">被预约的全部场馆</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" th:each="venue:${orderedVenues}">
                    <div class="card-body p-4">
                        <h2 th:text="${venue.getVenueName()}"><b>Venue Name</b></h2>
                        <p class="mb-0 lead"><a th:href="'/venueInformation_super/'+${venue.getVenueID()}">查看场馆订单</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">J2EE PROJECT</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>